<template>
	<div id="create-day">
		<form :action="action" v-on:submit="validateForm" method="post" ref="form">
			<input type="hidden" name="_token" :value="csrf">
			<div class="field">
				<label class="label">Tag auswählen <span class="tag is-danger">Pflichtfeld</span></label>
				<div class="control">
					<input type="text" name="date" id="datepicker" class="input">
				</div>
				<p v-if="hasDateErrors" class="help is-danger">{{ dateerrors }}</p>
			</div>
			<div class="field">
				<label class="label">Verfügbare Betten <span v-if="missingNumberOfBeds" class="tag is-danger">Pflichtfeld</span></label>
				<div class="control">
					<input type="number" name="number_of_beds" class="input" :class="{ 'is-danger': attemptSubmit && missingNumberOfBeds || negativeNumberOfBeds || over50 }" v-model="number_of_beds">
				</div>
				<p v-if="attemptSubmit && missingNumberOfBeds" class="help is-danger">Verfügbare Betten muss ausgefüllt werden</p>
				<p v-if="negativeNumberOfBeds" class="help is-danger">Verfügbare Betten darf nicht unter Null sein</p>
				<p v-if="over50" class="help is-danger">Verfügbare Betten darf nicht über 50 sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Angiologie</label>
				<div class="control">
					<input type="number" name="angiologie" :class="{ 'is-danger': negativeAngiologie }" class="input" v-model="angiologie">
				</div>
				<p v-if="negativeAngiologie" class="help is-danger">Kontingent Angiologie darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Kardiologie</label>
				<div class="control">
					<input type="number" name="kardiologie" :class="{ 'is-danger': negativeKardiologie }" class="input" v-model="kardiologie">
				</div>
				<p v-if="negativeKardiologie" class="help is-danger">Kontingent Kardiologie darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Nephrologie</label>
				<div class="control">
					<input type="number" name="nephrologie" :class="{ 'is-danger': negativeNephrologie }" class="input" v-model="nephrologie">
				</div>
				<p v-if="negativeNephrologie" class="help is-danger">Kontingent Nephrologie darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Onkologie</label>
				<div class="control">
					<input type="number" name="onkologie" :class="{ 'is-danger': negativeOnkologie }" class="input" v-model="onkologie">
				</div>
				<p v-if="negativeOnkologie" class="help is-danger">Kontingent Onkologie darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Pneumologie</label>
				<div class="control">
					<input type="number" name="pneumologie" :class="{ 'is-danger': negativePneumologie }" class="input" v-model="pneumologie">
				</div>
				<p v-if="negativePneumologie" class="help is-danger">Kontingent Pneumologie darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Kontingent Pneumologie Schläfer</label>
				<div class="control">
					<input type="number" name="pneumoschläfer" :class="{ 'is-danger': negativePneumoschläfer }" class="input" v-model="pneumoschläfer">
				</div>
				<p v-if="negativePneumoschläfer" class="help is-danger">Kontingent Pneumologie Schläfer darf nicht unter Null sein</p>
			</div>
			<div class="field">
				<label class="label">Betten für andere Abteilungen</label>
				<div class="control">
					<input type="number" name="empty" :class="{ 'is-danger': disabled }" class="input" readonly="" v-model="empty">
				</div>
				<p v-if="disabled" class="help is-danger">Betten für andere Abteilungen darf nicht unter Null sein</p>
			</div>
			<div class="field is-grouped">
				<div class="control">
					<input type="submit" name="submit" :disabled="disabled" class="button is-success">
				</div>
				<div class="control">
					<a class="button is-light" href="/">Abbrechen</a>
				</div>
			</div>
		</form>
	</div>
</template>

<script type="text/javascript">
	export default {
		//Übergibt Daten vom Backend ins Frontend
		props: ['base', 'action', 'dateerrors'],
		//Erstellt Variablen
		data() {
			return {
				csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
				date: '',
				number_of_beds: '',
				angiologie: '',
				kardiologie: '',
				nephrologie: '',
				onkologie: '',
				pneumologie: '',
				pneumoschläfer: '',
				attemptSubmit: false,
			}
		},
		computed: {
			//Berechnet wie viele Betten noch auf die Kontingente verteilt werden können
			empty() {
				return this.number_of_beds - this.angiologie - this.kardiologie - this.nephrologie - this.onkologie - this.pneumologie - this.pneumoschläfer
			},
			//Validiert die Benutzereingaben in Echtzeit
			disabled() {
				if(this.empty < 0) {
					return true
				} 
				return false
			},
			missingNumberOfBeds() {
				return this.number_of_beds === ''
			},
			negativeNumberOfBeds() {
				return this.number_of_beds < 0
			},
			negativeAngiologie() {
				return this.angiologie < 0
			},
			negativeKardiologie() {
				return this.kardiologie < 0
			},
			negativeNephrologie() {
				return this.nephrologie < 0
			},
			negativeOnkologie() {
				return this.onkologie < 0
			},
			negativePneumologie() {
				return this.pneumologie < 0
			},
			negativePneumoschläfer() {
				return this.pneumoschläfer < 0
			},
			over50() {
				return this.number_of_beds > 50
			},
			hasDateErrors() {
				return this.dateerrors !== ''
			}
		},
		methods: {
			//Checkt ob alle Benutzereingaben korrekt sind, falls nicht wird die Form nicht ins Backend gesendet
			validateForm(event) {
				this.attemptSubmit = true
				if(this.missingNumberOfBeds || this.negativeNumberOfBeds || this.negativeAngiologie || this.negativeKardiologie || this.negativeNephrologie || this.negativeOnkologie || this.negativePneumologie || this.negativePneumoschläfer || this.over50) event.preventDefault()
			},
			//Sendet die Form ins Backend
			submit() {
				this.$refs.form.submit()
			},
		},
	}
</script>