<template>
	<div id="edit-case">
		<form :action="action" v-on:submit="validateForm" method="post" ref="form">
			<input type="hidden" name="_token" :value="csrf">
			<input type="hidden" name="_method" value="PATCH">
			<div class="columns">
				<div class="column is-6">
				    <div class="field">
				        <label class="label">Name <span v-if="missingLastname" class="tag is-danger">Pflichtfeld</span></label>
				        <div class="control">
				            <input type="text" name="lastname" :class="{ 'is-danger': missingLastname && attemptSubmit }" v-model="lastname" class="input">
				        </div>
				        <p v-if="attemptSubmit && missingLastname" class="help is-danger">Name muss ausgefüllt werden</p>
					</div>
				</div>
				<div class="column">
				    <div class="field">
				        <label class="label">Vorname <span v-if="missingFirstname" class="tag is-danger">Pflichtfeld</span></label>
				        <div class="control">
				            <input type="text" name="firstname" :class="{ 'is-danger': missingFirstname && attemptSubmit }" v-model="firstname" class="input">
				        </div>
				        <p v-if="attemptSubmit && missingFirstname" class="help is-danger">Vorname muss ausgefüllt werden</p>
				    </div>      
				</div>
			</div>
			<div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label class="label">Geschlecht <span v-if="missingSex" class="tag is-danger">Pflichtfeld</span></label>
                        <div class="select is-fullwidth" :class="{ 'is-danger': missingSex && attemptSubmit }">
                            <select name="sex" v-model="sex">
                                <option value="M">Männlich</option>
                                <option value="W">Weiblich</option>
                            </select>
                        </div>
                          <p v-if="attemptSubmit && missingSex" class="help is-danger">Geschlecht muss ausgewählt werden</p>
                    </div>      
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Geburtsdatum <span v-if="missingBirthdate" class="tag is-danger">Pflichtfeld</span></label>
                        <div class="control">
                            <input type="text" name="birthdate" :class="{ 'is-danger': !birthdateValidation.valid && attemptSubmit || missingBirthdate && attemptSubmit }" v-model="birthdate" class="input">
                        </div>
                        <p v-if="attemptSubmit && missingBirthdate" class="help is-danger">Geburtsdatum muss ausgefüllt werden</p>
                        <p v-for="error in birthdateValidation.errors" v-if="attemptSubmit" class="help is-danger">{{ error }}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Zeit <span v-if="missingTime" class="tag is-danger">Pflichtfeld</span></label>
                        <div class="control">
                            <input type="text" name="time" :class="{ 'is-danger': missingTime && attemptSubmit || !timeValidation.valid && attemptSubmit }" v-model="time" class="input">
                        </div>
                        <p v-if="attemptSubmit && missingTime" class="help is-danger">Zeit muss ausgefüllt werden</p>
                        <p v-for="error in timeValidation.errors" v-if="attemptSubmit" class="help is-danger">{{ error }}</p>
                    </div>      
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Klasse <span v-if="missingInsuranceClass" class="tag is-danger">Pflichtfeld</span></label>
                        <div class="select is-fullwidth">
                            <select name="insurance_class" :class="{ 'is-danger': missingInsuranceClass && attemptSubmit }" v-model="insurance_class">
                                <option value="1.">1. Klasse</option>
                                <option value="2.">2. Klasse</option>
                                <option value="3.">3. Klasse</option>
                            </select>
                        </div>
                          <p v-if="attemptSubmit && missingInsuranceClass" class="help is-danger">Klasse muss ausgefüllt werden</p>
                    </div>      
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Abteilung <span v-if="missingDepartment" class="tag is-danger">Pflichtfeld</span></label>
                        <div class="select is-fullwidth">
                            <select name="department" :class="{ 'is-danger': missingDepartment && attemptSubmit }" v-model="department">
                                <option value="1">Angiologie</option>
                                <option value="2">Kardiologie</option>
                                <option value="3">Nephrologie</option>
                                <option value="4">Onkologie</option>
                                <option value="5">Pneumologie</option>
                                <option value="6">Pneumologie Schläfer</option>
                                <option value="7">Andere</option>
                            </select>
                        </div>
                          <p v-if="attemptSubmit && missingDepartment" class="help is-danger">Abteilung muss ausgefüllt werden</p>
                    </div>      
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Arzt</label>
                        <div class="control">
                            <input type="text" name="doctor" v-model="doctor" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Intervention</label>
                        <div class="control">
                            <input type="text" name="intervention" v-model="intervention" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">geplante Tage</label>
                        <div class="control">
                            <input type="number" name="planned_days" class="input" v-model="planned_days">
                        </div>
                    </div>      
                </div>
            </div>
            <div class="field">
                <label class="label">spezielles</label>
                <div class="control">
                    <textarea class="textarea" name="special">{{ special }}</textarea>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Zimmer</label>
                        <div class="control">
                            <input type="text" name="room" v-model="room" class="input">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Ankreuzen, was zutrifft</label>
                        <div class="control">
                            <input type="checkbox" id="accounting" v-model="accounting" class="is-checkradio" name="accounting">
                            <label for="accounting">Abrechnung</label>
                            <input type="checkbox" id="regulation" v-model="regulation" class="is-checkradio" name="regulation">
                            <label for="regulation">Verordnung</label>
                            <input type="checkbox" id="meona_curve" v-model="meona_curve" class="is-checkradio" name="meona_curve">
                            <label for="meona_curve">Kurve angelegt</label>
                        </div>
                    </div>      
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="submit" class="button is-success">
                <a :href="link" class="button is-warning">Abbrechen</a>
            </div>
		</form>
	</div>
</template>
<script>
    export default {
        //Übergibt Daten vom Backend ins Frontend
        props: ['base', 'action', 'day', 'patient', 'case'],
        //Erstellt Variablen
        data() {
            return {
            	birthdateRule: [
            		{ 	
            			message:'Das Geburtsdatum muss dem Format DD.MM.YYYY entsprechen', 
            			regex: /^\s*(3[01]|[12][0-9]|0?[1-9])\.(1[012]|0?[1-9])\.((?:19|20)\d{2})\s*$/g 
            		}
            	],
            	timeRule: [
            		{
            			message:'Die Zeit muss dem Format HH:MM oder HH.MM entsprechen',
            			regex: /^([01][0-3]|2[0-9]):([0-5][0-9])$/g
            		}
            	],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                lastname: this.patient.name,
                firstname: this.patient.firstname,
                sex: this.patient.sex,
                birthdate: this.patient.birthdate,
                time: this.case.time,
                insurance_class: this.case.class,
                department: this.case.department_id,
                doctor: this.case.doctor,
                intervention: this.case.intervention,
                planned_days: this.case.planned_days,
                special: this.case.special,
                room: this.case.room,
                accounting: this.case.accounting,
                regulation: this.case.regulation,
                meona_curve: this.case.meona_curve,
                attemptSubmit: false,
                link: '/' + this.day
            }
        },
        computed: {
            //Validiert die Benutzereingaben in Echtzeit
            missingLastname() { return this.lastname === '' },
            missingFirstname() { return this.firstname === ''},
            missingSex() { return this.sex === '' },
            missingBirthdate() { return this.birthdate === '' },
            missingTime() { return this.time === '' },
            missingInsuranceClass() { return this.insurance_class === '' },
            missingDepartment() { return this.department === '' },
            birthdateValidation() {
            	let errors = []
            	for(let condition of this.birthdateRule) {
            		if(!condition.regex.test(this.birthdate)) {
            			errors.push(condition.message)
            		}
            	}
            	if(errors.length !== 0) {
            		return { valid:false, errors }
            	}
            	return { valid:true, errors }
            },
            //Funktion mit Hilfe von https://codepen.io/blokche/pen/oGddLW erstellt.
            timeValidation() {
            	let errors = []
            	for(let condition of this.timeRule) {
            		if(!condition.regex.test(this.time)) {
            			errors.push(condition.message)
            		}
            	}
            	if(errors.length !== 0) {
            		return { valid:false, errors }
            	}
            	return { valid:true, errors }
            }
        },
        methods: {
            //Checkt ob alle Benutzereingaben korrekt sind, falls nicht wird die Form nicht ins Backend gesendet
            validateForm(event) {
                this.attemptSubmit = true
                if( this.missingLastname || this.missingFirstname || this.missingSex || this.missingBirthdate || this.missingTime || this.missingInsuranceClass || this.missingDepartment || !this.birthdateValidation.valid || !this.timeValidation.valid) event.preventDefault()
            },
            //Sendet die Form ins Backend
            submit() {
                this.$refs.form.submit()
            },
        },
    }
</script>