<template>
    <div id="edit-day">
        <form :action="action" v-on:submit="validateForm" method="post" ref="form">
            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" name="_method" value="PATCH">
            <div class="field">
                <label class="label">Datum</label>
                <div class="control">
                    <input type="text" disabled="" name="date" class="input" v-model="date">
                </div>
            </div>
            <div class="field">
                <label class="label">Verfügbare Betten<span v-if="missingNumberOfBeds" class="tag is-danger">Pflichtfeld</span></label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': attemptSubmit && missingNumberOfBeds || negativeNumberOfBeds || over50 }" name="number_of_beds" class="input" v-model="number_of_beds">
                </div>
                <p v-if="attemptSubmit && missingNumberOfBeds" class="help is-danger">Verfügbare Betten muss ausgefüllt werden</p>
                <p v-if="negativeNumberOfBeds" class="help is-danger">Verfügbare Betten darf nicht unter Null sein</p>
                <p v-if="over50" class="help is-danger">Verfügbare Betten darf nicht über 50 sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Angiologie</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativeAngiologie }" name="angiologie" class="input" v-model="angiologie">
                </div>
                <p v-if="negativeAngiologie" class="help is-danger">Kontingent Angiologie darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Kardiologie</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativeKardiologie }" name="kardiologie" class="input" v-model="kardiologie">
                </div>
                <p v-if="negativeKardiologie" class="help is-danger">Kontingent Kardiologie darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Nephrologie</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativeNephrologie }" name="nephrologie" class="input" v-model="nephrologie">
                </div>
                <p v-if="negativeNephrologie" class="help is-danger">Kontingent Nephrologie darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Onkologie</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativeOnkologie }" name="onkologie" class="input" v-model="onkologie">
                </div>
                <p v-if="negativeOnkologie" class="help is-danger">Kontingent Onkologie darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Pneumologie</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativePneumologie }" name="pneumologie" class="input" v-model="pneumologie">
                </div>
                <p v-if="negativePneumologie" class="help is-danger">Kontingent Pneumologie darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Kontingent Pneumologie Schläfer</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': negativePneumoschläfer }" name="pneumoschläfer" class="input" v-model="pneumoschläfer">
                </div>
                <p v-if="negativePneumoschläfer" class="help is-danger">Kontingent Pneumologie Schläfer darf nicht unter Null sein</p>
            </div>
            <div class="field">
                <label class="label">Leere Betten</label>
                <div class="control">
                    <input type="number" :class="{ 'is-danger': disabled }" name="empty" class="input" readonly="" v-model="empty">
                </div>
                <p v-if="disabled" class="help is-danger">Leere Betten darf nicht unter Null sein</p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" name="submit" :disabled="disabled" class="button is-success">
                </div>
                <div class="control">
                    <a class="button is-light" :href="link">Abbrechen</a>
                </div>
            </div>
        </form>
    </div>
</template>

<script type="text/javascript">
    export default {
        //Validiert die Benutzereingaben in Echtzeit
        props: {
            base: String,
            action: String,
            day: Object,
            angiologie_value: Number,
            kardiologie_value: Number,
            nephrologie_value: Number,
            onkologie_value: Number,
            pneumologie_value: Number,
            pneumoschläfer_value: Number,
        },
        //Erstellt Variablen
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                date: this.day.name,
                number_of_beds: this.day.number_of_beds,
                angiologie: this.angiologie_value,
                kardiologie: this.kardiologie_value,
                nephrologie: this.nephrologie_value,
                onkologie: this.onkologie_value,
                pneumologie: this.pneumologie_value,
                pneumoschläfer: this.pneumoschläfer_value,
                attemptSubmit: false,
                link: '/' + this.day.slug
            }
        },
        computed: {
            //Berechnet wie viele Betten noch auf die Kontingente verteilt werden können
            empty() {
                return this.number_of_beds - this.angiologie - this.kardiologie - this.nephrologie - this.onkologie - this.pneumologie - this.pneumoschläfer
            },
            //Validiert die Benutzereingaben in Echtzeit
            disabled() {
                if(this.empty < 0) {
                    return true
                } 
                return false
            },
            missingNumberOfBeds() {
                return this.number_of_beds === ''
            },
            negativeNumberOfBeds() {
                return this.number_of_beds < 0
            },
            negativeAngiologie() {
                return this.angiologie < 0
            },
            negativeKardiologie() {
                return this.kardiologie < 0
            },
            negativeNephrologie() {
                return this.nephrologie < 0
            },
            negativeOnkologie() {
                return this.onkologie < 0
            },
            negativePneumologie() {
                return this.pneumologie < 0
            },
            negativePneumoschläfer() {
                return this.pneumoschläfer < 0
            },
            over50() {
                return this.number_of_beds > 50
            },
            hasDateErrors() {
                return this.dateerrors !== ''
            }
        },
        methods: {
            //Checkt ob alle Benutzereingaben korrekt sind, falls nicht wird die Form nicht ins Backend gesendet//Validiert die Benutzereingaben in Echtzeit
            validateForm(event) {
                this.attemptSubmit = true
                if(this.missingNumberOfBeds || this.negativeNumberOfBeds || this.negativeAngiologie || this.negativeKardiologie || this.negativeNephrologie || this.negativeOnkologie || this.negativePneumologie || this.negativePneumoschläfer || this.over50) event.preventDefault()
            },
            //Sendet die Form ins Backend
            submit() {
                this.$refs.form.submit()
            },
        },
    }
</script>